rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /members/{document} {
      allow read: if true
      allow write: if request.auth.token.uid != null
    }
  }
}